button,
    div,
    form,
    input, img, p {
      margin: 10px;
    }

img, p {
    float: left;
}

btn {
    padding-left: 5px;
    padding-right: 5px;
}

body {
    color: aquamarine;
    background-image: url(../images/blue.jpg)
    
}

.jumbotron {
    background-image: url(../images/abstract.png)
}